# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv

# Dependency directory
node_modules

# local env variables
.env

# truffle
.node-xmlhttprequest-*

# only used to package
